:root {
    --color-elechart-extra-light:#d4f7ea;
    --color-elechart-light:#c1efde;
    --color-elechart-mid: rgb(94, 205, 183);
    --color-elechart-deep: #46998b;
    --color-elechart-gradient: linear-gradient(to right,#baf3d7,#c2f5de,#cbf7e4,#d4f8ea,#ddfaef);

    font-family: Helvetica, Arial, sans-serif!important;
    scrollbar-color: var(--elechart-teal) transparent!important;
    overflow-x: hidden;
}

iframe {
    width: 100%;
    height: 100%;
}

.bg-elechart-light {
    background: var(--color-elechart-light);
}

.bg-elechart-mid {
    background: var(--color-elechart-mid);
}

.bg-elechart-gradient {
    background: var(--color-elechart-gradient);
}

.color-elechart-deep {
    color: var(--color-elechart-deep);
}

.btn-elechart {
    outline: none;
    width: 100%;
    border: 1px solid var(--color-elechart-deep);
    border-radius: 0.375rem;
    background: linear-gradient(to left, white 50px, rgb(224, 255, 249) 50px);
    padding-right: 50px;
}

.btn-elechart.selected {
    box-shadow: inset 0 0 0 3px var(--color-elechart-deep);
    background: linear-gradient(to left, var(--color-elechart-deep) 50px, white 50px);
}

.client-card:hover, .btn-elechart:hover, .service-group-item:hover {
    filter: brightness(90%);
}

.service-group-item {
    border: 1px solid var(--elechart-teal);
    border-radius: 5px;
    background: linear-gradient(to left, white 50px, rgb(238, 255, 252) 50px);
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--color-elechart-deep);
    font-weight: bold;
    border: none;
}

.full-height-minus-100 {
    height: calc(100vh - 100px);
}

.full-height-minus-300 {
    height: calc(100vh - 300px);
}

.btn.pressed {
    background-color: var(--color-elechart-extra-light);
    border-color: var(--color-elechart-deep);
}

.elechart-bg {
    background-image: url("../images/bg.png");
    background-attachment: fixed;
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sidebar-button-group {
    margin-top: 86px;
}

.full-height-50 {
    height: calc(100vh - 150px);
}

.page-view {
    padding-top: 80px;
    padding-bottom: 20px;
}

.elechart-dialog {
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog-disable-screen {
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: absolute;				
    background-color: #cccccc;
    color: #aaaaaa;
    opacity: .4;
    filter: alpha(opacity = 50);
}

#service-view, #service-creation-view, #patient-registration-form, .full-height-100 {
    height: calc(100vh - 100px);
}

#service-creation-list {
    border-top: 2px solid var(--elechart-teal);
    border-bottom: 2px solid var(--elechart-teal);
    border-left: 2px solid var(--elechart-teal);
    border-right: 10px double var(--elechart-teal);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#elechart-logo {
    --logo-size: 50%;
    width: var(--logo-size);
    height: var(--logo-size);
}

#elechart-title {
    --title-size: 50%;
    width: var(--title-size);
    height: var(--title-size);
    margin-top: -15px;
}

#login-background {
    background: url("../images/elechart-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#service-record-list, #service-group-list {
    height: 180px;
}

#service-creation-group-list {
    height: 512px;
}