body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

fieldset {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

label {
    display: inline;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"] {
    display: block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin: 10px 0 10px 0;
}

textarea {
    resize: vertical;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

:disabled {
    color: black;
    background: white;
    font-weight: 700;
    opacity: 1;
}

.checkbox-label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
}

.signature-line {
    margin-top: 20px;
    border-bottom: 1px solid #333;
    width: 50%;
    padding-bottom: 10px;
}

.consent-disclaimer {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #12633C;
    color: white;
    font-weight: 700;
    font-size: 12pt;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #157347;
}

button:active {
    background-color: #12633C;
}